#pool-stats.card-block
  %h4.card-title
    Pool
  .card-text
    = number_to_human(@pool_stats['hashRate'])
    %small.text-muted
      hashes per second
  .card-text
    = number_to_human(@pool_stats['miners'])
    %small.text-muted
      active miners
  .card-text
    = number_to_human(@pool_stats['workers'])
    %small.text-muted
      active workers
