#pool-stats.card-block
  %h4.card-title
    Statistics
  %div
    Hashrate: 
    %span.text-secondary
      = @pool_stats['hashRate']
    H/s
  %div
    Active miners: 
    %span.text-secondary
      = @pool_stats['miners']
  %div
    Active workers: 
    %span.text-secondary
      = @pool_stats['workers']
