#price.card-block
  %h4.card-title
    Price
  .card-text
    $
    = @price['usd']
    %small.text-muted
      USD
  .card-text
    = number_to_human(@price['btc'])
    %small.text-muted
      Bitcoin
