%br
.container
  .col-xs-10.offset-xs-1.col-md-4.offset-md-4
    .card
      %div
        = image_tag(@user.avatar.url, style: 'max-width: 150px', class: 'mx-auto d-block', alt: 'avatar')
      .card-header
        User Information:
        .list-group.list-group-flush
        %br
          .list-group-item=@user.first_name
          .list-group-item=@user.last_name
          .list-group-item=@user.email
      .card-footer
        .btn.btn-success.text-white
          = link_to 'Edit', edit_user_path, class: 'text-white'
        Return to Dashboard
        = link_to 'home', home_index_path
