%br
  .page-footer.blue.center-on-small-only.bg-info
    %br
    .container-fluid
      .row
        .col-md-6
          .title.text-white
            EthermineApp
          %p{class: 'text-white'} With this awesome app you can get the information about a miner
        .col-md-6
          .tile.text-white
            Links:
          %ul
            %li
              %a{href: "https://rubygems.org/gems/etherclient", class: 'text-white'}= "Etherclient gem"
            %li
              %a{href: "https://github.com/lacf95/etherclient", class: 'text-white'}= "Etherclient Documentation"
            %li
              %a{href: "https://github.com/lacf95/EthermineApp", class: 'text-white'}= "EthermineApp Documentation"
            %li
              %a{href: "https://api.ethermine.org/docs/#api-Miner", class: 'text-white'}= "Ethermine API"
    .footer-copyright.bg-primary
      .container-fluid.text-white
        © 2018 Copyright EthermineApp

