%br
  .page-footer.blue.center-on-small-only.bg-info
    .container-fluid
      .row
        .col-md-6
          .title
            Footer Content
          %p Place your shit here  
        .col-md-6
          .tile
            links
          %ul
            %li
              %a{href: "https://rubygems.org/gems/etherclient", class: 'text-dark'}= "Etherclient gem"
            %li
              %a{href: "https://github.com/lacf95/etherclient", class: 'text-dark'}= "Etherclient Documentation"
            %li
              %a{href: "https://github.com/lacf95/EthermineApp", class: 'text-dark'}= "EthermineApp Documentation"
            %li
              %a{href: "https://api.ethermine.org/docs/#api-Miner", class: 'text-dark'}= "Ethermine API"
    .footer-copyright

