%br
.footer.bg-info.position-sticky
  %br
  .row
    .col-md-6
      %h5 EthermineApp
      %p With this awesome app you can get the information about a miner
    .col-md-6.bg-info
      %h5 Links
      %ul
        %li
          %a{href: "https://rubygems.org/gems/etherclient", class: 'text-dark'}= "etherclient gem"
        %li
          %a{href: "https://github.com/lacf95/etherclient", class: 'text-dark'}= "etherclient documentation"
        %li
          %a{href: "https://github.com/lacf95/EthermineApp", class: 'text-dark'}= "ethermineApp documentation"
        %li
          %a{href: "https://api.ethermine.org/docs/#api-Miner", class: 'text-dark'}= "ethermine API"
  .footer-copyright.bg-primary
    .container-fluid
      %p © 2018 Ethermine
