.navbar.navbar-dark.bg-info
  .navbar-brand
    Ethermine
    = image_tag ('/assets/doggo.png')
  .form-inline.my-2.my-lg-0
    .float-right
      = link_to 'Log Out', credential_path(:id), method: :destroy, class: 'btn btn-danger'
%br
