.navbar.navbar-dark.bg-info
  .navbar-brand{id: "navText"}
    Ethermine
    %img(src='/assets/doggo.ico')
  - unless current_page?(signup_url) 
    = link_to 'Log Out', credential_path(1), method: :delete, class: 'btn btn-danger'
  - else
    .form-inline.my-2.my-lg-0
      .float-right
        - link_to 'Log Out', credential_path(1), method: :delete, class: 'btn btn-danger'
%br
