.navbar.navbar-dark.bg-info
  .navbar-brand
    Ethermine
    = image_tag ('/assets/doggo.png')
  .form-inline.my-2.my-lg-0
    .btn.btn-outline-danger
      = link_to 'Log Out', credential_path(1), method: :destroy
%br
