.navbar.nabvar-dark.bg-info
  .navbar-brand{id: 'navText'}
    Ethermine
    %img{class: 'nav-img'}(src='/assets/doggo.ico')
  - if current_page?(users_path) || current_page?(addresses_path)
    .form-inline.my-2.my-lg-0
      .float-right
        = image_tag(@user.avatar.url, style: 'max-width: 80px')
        .badge.badge-info
          .badge.badge-pill.badge-dark
            = show_user_name
          = link_to 'Edit', edit_user_path(@user.id), class: 'btn btn-success'
          = link_to 'Log Out', credential_path(1), method: :delete, class: 'btn btn-danger'
%script
  $('.dropdown-toggle').dropdown()
