.navbar.navbar-dark.bg-info
  .navbar-brand{id: "navText"}
    Ethermine
    %img(src='/assets/doggo.ico')
  - if !current_page?(signup_url) 
    %p= show_user_name
    = link_to 'Log Out', credential_path(1), method: :delete, class: 'btn btn-danger'
  - else
    .form-inline.my-2.my-lg-0
      .float-right
        %p- show_user_name
        - link_to 'Log Out', credential_path(1), method: :delete, class: 'btn btn-danger'
    
%br
